{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse | 3DWWM{% endblock %}

{% block content %}
    <section>
        <h1 class="title">AJOUTER UNE ADRESSE</h1>
        <a href="{{ path('app_frontend_account_address_index') }}" id="fs-12" class="link"><span class="arrow"><</span>Retour à mes adresses</a>
        {{ form_start(form) }}
            <div class="form-address">
                <div>
                    <span>{{ form_widget(form.name) }}</span>
                </div>
                <div>
                    <span>{{ form_widget(form.firstname) }}</span>
                    <span>{{ form_widget(form.lastname) }}</span>
                </div>
                <div>
                    <span>{{ form_widget(form.address) }}</span>
                </div>
                <div>
                    <span>{{ form_widget(form.postal) }}</span>
                    <span>{{ form_widget(form.city) }}</span>
                </div>
                <div>
                    <span>{{ form_widget(form.country) }}</span>
                </div>
                <div>
                    <span>{{ form_widget(form.phone) }}</span>
                </div>
                <div class="center">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}